.App {
  text-align: center;
  padding-top: 36px;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item {
  margin-bottom: 24px;
  width: 30%;
}

#detail {
  background-color: antiquewhite;
  padding: 50px;
}

.Title {
  margin: 15px;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: bold;
}

.Subtitle {
  text-transform: uppercase;
  font-weight: bold;
}

.imagen {
  height: 700px !important;
}
